button{
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: none;
}

button:focus{
	outline: 0;
}

button img{
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}


/*********************************************************/
/******************** SIZE *******************************/
/*********************************************************/


button.Large,
a.Large{
	padding: 0 25px;
	line-height: 42px;
	font-size: 1.25em;
}

button.Small,
a.Small{
	padding: 0 20px;
	line-height: 28px;
	font-size: 1.0em;
}

/*********************************************************/
/******************** ALIGNMENT **************************/
/*********************************************************/


button.Left,
a.Left{
	float: left;
	margin-right: 1em;
}

button.Right,
a.Right{
	float: right;
	margin-left: 1em;
}

button.Block {
	width: 100%;
}

fieldset.Right button{
	position: absolute;
	right: -150px;
	top: 0px;
}


/*********************************************************/
/******************** COLOURS ****************************/
/*********************************************************/

button.Primary,
a.Primary,
button.Secondary,
a.Secondary,
button.Tertiary,
a.Tertiary,
button.White,
a.White{
	display: inline-block;
	margin-bottom: 1em;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	font-family: Roboto;
	font-weight: 300;
}

/*** PRIMARY COLOUR ***/

button.Primary,
a.Primary{
	border: 1px solid #196ABC;
	background-color: #196ABC;
	color: #ffffff !important;
}

button.Primary.Selected,
a.Primary.Selected{
	border: 1px solid #608fbc;
	background-color: #608fbc;
	color: #ffffff !important;
}

/*** SECONDARY COLOUR ***/

button.Secondary,
a.Secondary{
	border: 1px solid #bf6200;
	background-color: #bf6200;
	color: #ffffff !important;
}

/*** TERTIARY COLOUR ***/

button.Tertiary,
a.Tertiary{
	border: 1px solid #387329;
	background-color: #387329;
	color: #ffffff !important;
}

/*** WHITE COLOUR ***/

button.White,
a.White{
	border: 1px solid #c8d9e7;
	background-color: #ffffff;
	color: #2c5a83 !important;
}


/*********************************************************/
/******************** HOVER ******************************/
/*********************************************************/

a.Primary:hover,
a.Secondary:hover,
a.Tertiary:hover,
a.White:hover,
button.Primary:hover,
button.Secondary:hover,
button.Tertiary:hover,
button.White:hover{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
}

button.Hidden,
a.Hidden{
	display: none !important;
}

button.Disabled,
a.Disabled{
	background-color: #ccc;
	cursor: default !important;
}

@media only screen and (max-width: 605px) {

	fieldset.Right button { position: static; }

}
