/*********************************************************/
/******************** GLOBAL *****************************/
/*********************************************************/

html{
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

.Wrapper:after,
.Clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.Hidden{ display: none; }
.Clear{ clear: both; }
.Float-Left { float: left; margin-right: 15px; }
.Float-Right { float: right; margin-left: 15px; }

/*********************************************************/
/******************** LAYOUT *****************************/
/*********************************************************/

/*** General ***/

body{
	background-color: #ffffff;
}

#Background{
	background-color: #ffffff;
}

#Container{

}

.Section{
	position: relative;
}

.Outer{
	height: 100%;
}

.Wrapper{
	position: relative;
	margin: 0 auto;
	height: 100%;

	transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

.Column{
	height: 100%;
	float: left;
	position: relative;
}

/*** Logo ***/

#Logo{
	margin: 0;
}

#Logo img{
	float: left;
	height: 80px;
}

@media only screen and (max-width: 479px) {
	#Logo img{
		margin-top: 5px;
		height: 70px;
	}
}

#Logo strong{
	display: none;
}

#SKPB-Logo{
	height: 80px;
	float: left;
	margin-left: 15px;
}

@media only screen and (max-width: 479px) {
	#SKPB-Logo{
		height: 70px;
		margin-top: 5px;
		margin-left: 10px;
	}
}

#Chata{
	float: left;
	height: 80px;
	margin: 0 0 15px;
}

#SKPB{
	float: left;
	height: 80px;
	margin: 0 20px 15px;
}

#PTTK{
	float: left;
	height: 80px;
	margin: 0 0 15px;
}

/*** Menu ***/

#Menu{
	position: fixed;
	width: 100%;
	top: 0px;
	background-image: url('../images/tex/broken_noise.png');
	z-index: 100;
	padding: 10px 0;
	border-bottom: 6px solid #2794f0;
}

#Menu .Wrapper{

}

#Menu nav{
	position: absolute;
	display: block;
	right: 10px;
	bottom: 0px;
	line-height: 24px;
	padding-left: 140px;
}

@media only screen and (min-width: 1220px) {
	#Menu nav{
		right: 15px;
	}
}

#Menu nav a{
	color: #ffffff;
	margin: 0 0 0 12px;
	font-family: Roboto;
	font-size: 1.2em;
	font-weight: 300;
	transition:all .15s linear;
    -o-transition:all .15s linear;
    -moz-transition:all .15s linear;
    -webkit-transition:all .15s linear;
}

#Menu nav a:hover{
	text-decoration: none;
	color: #2794f0;
}

#Menu-Toggle{
	display: none;
	float: right;
	width: 80px;
	height: 80px;
	cursor: pointer;
	background-image: url('../images/buttons/menu.png');
}

#Menu-Toggle:hover{
	background-image: url('../images/buttons/menu-hover.png');
}

@media only screen and (max-width: 959px) {
	#Menu-Toggle{
		display: block;
	}
	#Menu nav{
		display: none;
		position: absolute;
		top: 96px;
		right: 0px;
		background: #2794F0;
		width: 100%;
		padding: 15px 0;
		bottom: auto;
	}
	#Menu nav a{
		float: left;
		width: 100%;
		line-height: 1.5;
		text-align: center;
		font-size: 1.35em;
	}
	#Menu nav a:hover{
		color: #000;
	}
}

/*** Top ***/

#Top{
	height: 104px;
	background-color: black;
}

/*** Intro ***/

#Intro{
	border-bottom: 6px solid #161616;
	background-image: url('../images/bg/znak.jpg');
	background-position: 33% center;
	height: 700px;
}

/*** O Chacie ***/

#O-Chacie{
	background-image: url('../images/tex/textured_paper.gif');
}

#O-Chacie .Wrapper{
	padding: 60px 0 50px;
}

/*** Dojscie ***/

#Dojscie{
	background-image: url('../images/tex/textured_paper2.gif');
}

#Dojscie *{
	color: #ffffff;
}

#Dojscie a{
	color: #aaaaaa;
}

#Dojscie .Wrapper{
	padding: 60px 0 50px;
}

/*** Spacer ***/

#Spacer{
	background-image: url('../images/tex/textured_paper4.gif');
}

#Spacer *{
	color: #ffffff;
	text-shadow: 1px 1px 1px #666;
}

#Spacer .Wrapper{
	padding: 60px 0 50px;
}

/*** Galeria ***/

#Galeria{
	background-image: url('../images/tex/black_linen.png');
}

#Galeria *{
	color: #ffffff;
}

#Galeria .Wrapper{
	padding: 60px 0 50px;
}


/*** Regulaminy ***/

#Regulaminy{
	background-image: url('../images/tex/bgnoise_lg.png');
}

#Regulaminy *{
	color: #000;
}

#Regulaminy .Wrapper{
	padding: 60px 0 50px;
}

/*** Outro ***/

#Outro{
	border-top: 6px solid #948878;
	border-bottom: 6px solid #090909;
	background-image: url('../images/bg/zagron.jpg');
	background-position: 25% center;
	height: 628px;
}

#Outro .Wrapper{
	padding: 100px 0;
}

/*** Rezerwacje ***/

#Rezerwacje{
	background-image: url('../images/tex/textured_paper4.gif');
}

#Rezerwacje *{
	color: #ffffff;
	text-shadow: 1px 1px 1px #666;
}

#Rezerwacje .Wrapper{
	padding: 60px 0 50px;
}

/*** Main ***/

#Kontakt{
	background-image: url('../images/tex/gray_sand.png');
}

#Kontakt *{
	color: #ffffff;
}

#Kontakt .Wrapper{
	padding: 60px 0 50px;
}

/*********************************************************/
/******************** SECTIONS ***************************/
/*********************************************************/

.Nazwisko,
[name="emailconfirmation"]{
	display: none;
}

.Responsive-Iframe{
	border: 6px solid #ffffff;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 600px;
	float: left;
	margin-bottom: 1em;
}

.Responsive-Iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
}

#Kalendarz{
	border: 6px solid #ffffff;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 500px;
	float: left;
	margin-bottom: 1em;
}

#Kalendarz iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Mapa{
	float: left;
	border: 6px solid #ffffff;
	border-radius: 6px;
}

#Zdjecia a{
	float: left;
	width: 25%;
	padding: 0 2px 0 0;
}

@media only screen and (max-width: 959px) {
	#Zdjecia a{
		width: 50%;
	}
}

#Zdjecia a img{
	display: inline-block;
	width: 100%;
	transition:all .15s linear;
    -o-transition:all .15s linear;
    -moz-transition:all .15s linear;
    -webkit-transition:all .15s linear;
}

#Zdjecia a img:hover,
#Impreza img:hover{
	opacity: 0.85;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(50%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.fb-like.fb_iframe_widget{
	margin-bottom: 15px;
}

footer {
	padding: 15px 0;
	background-image: url('../images/tex/broken_noise.png');
	text-align: center;
}

footer > p {
	margin-bottom: 0;
	color: #ffffff;
	font-size: 90%;
}
