/*********************************************************/
/******************** FORMS ******************************/
/*********************************************************/

input, textarea, select { 
    outline: none;
	border: 0;
	margin: 0;
	padding: 0;
}

/*** FIELDSET ***/

fieldset{
	position: relative;
	clear: both;
}

fieldset.Right{
	margin-right: 150px;
}

fieldset.Left{
	margin-left: 150px;
}

fieldset p{
	line-height: 30px;
}

/*** LABEL ***/

label{
	float: left;
	display: inline-block;
	line-height: 36px;
	white-space: nowrap;
	margin-right: 5px;
	
	font-size: 19px;
	font-weight: 300;
	font-family: Roboto;
	color: #4B75A7;
	margin-bottom: 10px;
}

fieldset.Left label:first-child,
fieldset.Right label:first-child{
	position: absolute;
	left: -150px;
	padding: 0;
}

/*** LEGEND ***/

legend{	
	line-height: 28px;
	font-size: 20px;
	color: #0c5699;
	margin-bottom: 10px;
}

fieldset.Left legend,
fieldset.Right legend{
	position: absolute;
	left: -150px;
}

/*** LAYOUT RESET FOR MOBILES ***/

@media only screen and (max-width: 605px) {
	
	fieldset{ margin: 0; }
	fieldset.Left { margin: 0; }
	fieldset.Right { margin: 0; }
	fieldset.Left label:first-child,
	fieldset.Right label:first-child { position: static; width: 100%; }
	fieldset legend{ position: static;}
	
}

/*** INPUT TEXT ***/

input{	
	width: 100%;

	height: 38px;
	padding: 0.5em 0.5em;
	margin: 0 0 10px;

	border: 2px solid #d9d9d9;
	border: 2px solid rgba(128, 128, 128, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-size: 16px;
	font-family: Roboto;
	color: #2e3033 !important;
}

input:focus{
	border: 2px solid #196ABC;
}

/*** SELECT ***/

select{
	font-size: 0.9em;
	width: 100% !important;
}

select option{
	color: #196ABC !important;
}

.customSelect{
	line-height: 36px;
	padding: 0 10px;
	margin: 0 0 10px;
	width: 100%;
	
	border: 2px solid #d9d9d9;
	border: 2px solid rgba(128, 128, 128, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background-image: url('../images/buttons/select.png');
	background-repeat: no-repeat;
	background-position: right;
	background-color: #ffffff;
	
	font-size: 16px;
	color: #2e3033;
}

.customSelect span {
	width: 100% !important;
	color: #196ABC !important;
}

.customSelect.customSelectFocus{
	border: 2px solid #196ABC;
}

/*** TEXTAREA ***/

textarea{
	width: 100%;
	height: 128px;
	padding: 0.5em;
	margin-bottom: 10px;
	
	border: 2px solid #d9d9d9;
	border: 2px solid rgba(128, 128, 128, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-size: 16px;
	font-family: Roboto;
	color: #2e3033 !important;
}

textarea:focus{
	border: 2px solid #196ABC;
}

/*** RADIO ***/

input[type="radio"]{
	display: none;
}

span.radio {
	float: left;
	width: 18px;
	height: 20px;
	margin: 5px 5px 15px 5px;
	background-image: url('../images/buttons/radio.png');
}

/*** CHECKOUT ***/

input[type="checkbox"]{
	display: none;
}

span.checkbox {
	float: left; 
	width: 18px;
	height: 20px;
	margin: 5px 5px 15px 5px;
	background-image: url('../images/buttons/checkbox.png');
}

span.radio.Selected,
span.checkbox.Selected{
	background-position: 0 -20px;
}




