
/*********************************************************/
/******************** 960 DESKTOP ************************/
/*********************************************************/

.Wrapper                         	   	 			  	{ width: 960px; }
.Column													{ padding-left: 10px; padding-right: 10px; }

.Column.Full											{ width: 100%; }

.Column.TwoThirds										{ width: 66.66%; }
.Column.Third											{ width: 33.33%; }

.Column.ThreeQuarters									{ width: 75%; }
.Column.Half											{ width: 50%; }
.Column.Quarter											{ width: 25%; }

.Column.FourFifth										{ width: 80%; }
.Column.ThreeFifth										{ width: 60%; }
.Column.TwoFifth										{ width: 40%; }
.Column.Fifth											{ width: 20%; }

.Column.FiveSixth										{ width: 83.33%; }
.Column.Sixth											{ width: 33.33%; }

/*********************************************************/
/******************** 1200 DESKTOP WIDE ******************/
/*********************************************************/

@media only screen and (min-width: 1220px) {

.Wrapper                        	 	   	 			{ width: 1200px; }
.Column													{ padding-left: 15px; padding-right: 15px; }
.Column.Sixth											{ width: 16.66%; }

}

/*********************************************************/
/******************** 720 BIG TABLET *********************/
/*********************************************************/

@media only screen and (min-width: 740px) and (max-width: 979px) {

.Wrapper                          						{ width: 720px; }

.Disable-BigTablet										{ display: none; }

.Column.Full											{ width: 100%; }

.Column.TwoThirds										{ width: 100%; }
.Column.Third											{ width: 66.66%; }

.Column.ThreeQuarters									{ width: 100%; }
.Column.Half											{ width: 100%; }
.Column.Quarter											{ width: 50%; }

.Column.FourFifth										{ width: 100%; }
.Column.ThreeFifth										{ width: 100%; }
.Column.TwoFifth										{ width: 60%; }
.Column.Fifth											{ width: 40%; }

.Column.FiveSixth										{ width: 100%; }
.Column.Sixth											{ width: 33.33%; }

}

/*********************************************************/
/******************** 540 PORTRAIT MODE ******************/
/*********************************************************/

@media only screen and (min-width: 560px) and (max-width: 739px) {

.Wrapper                       	 						{ width: 540px; }

.Disable-Tablet											{ display: none; }

.Column.Full											{ width: 100%; }

.Column.TwoThirds										{ width: 100%; }
.Column.Third											{ width: 50%; }

.Column.ThreeQuarters									{ width: 100%; }
.Column.Half											{ width: 100%; }
.Column.Quarter											{ width: 50%; }

.Column.FourFifth										{ width: 100%; }
.Column.ThreeFifth										{ width: 100%; }
.Column.TwoFifth										{ width: 100%; }
.Column.Fifth											{ width: 50%; }

.Column.FiveSixth										{ width: 100%; }
.Column.Sixth											{ width: 50%; }

}

/*********************************************************/
/******************** FLUID MOBILE ***********************/
/*********************************************************/

@media only screen and (max-width: 559px) {

.Wrapper                      	   						{ width: 100%; min-width: 300px; }

.Disable-Mobile 										{ display: none; }

.Column.Full											{ width: 100%; }

.Column.TwoThirds										{ width: 100%; }
.Column.Third											{ width: 100%; }

.Column.ThreeQuarters									{ width: 100%; }
.Column.Half											{ width: 100%; }
.Column.Quarter											{ width: 100%; }

.Column.FourFifth										{ width: 100%; }
.Column.ThreeFifth										{ width: 100%; }
.Column.TwoFifth										{ width: 100%; }
.Column.Fifth											{ width: 100%; }

.Column.FiveSixth										{ width: 100%; }
.Column.Sixth											{ width: 50%; }

}

@media only screen and (max-width: 399px) {

.Column.Sixth											{ width: 100%; }

}
