/*********************************************************/
/******************** 1200 DESKTOP WIDE ******************/
/*********************************************************/

@media only screen and (min-width: 1200px) {
	
}

/*********************************************************/
/******************** 780 BIG TABLET *********************/
/*********************************************************/

@media only screen and (min-width: 780px) and (max-width: 959px) {
	nav#Menu{
		clear: both;
	}
}

/*********************************************************/
/******************** 600 SMALL TABLET *******************/
/*********************************************************/

@media only screen and (min-width: 600px) and (max-width: 779px) {
	nav#Menu{
		clear: both;
	}
}

/*********************************************************/
/******************** 480 BIG MOBILE *********************/
/*********************************************************/

@media only screen and (min-width: 480px) and (max-width: 599px) {
	#Primary{
		margin: 64px 0 0 0;
	}
	#Search{
		width: 100%;
	}
	nav#Menu{
		clear: both;
	}
	nav#Menu a{
		margin: 15px 15px 15px;
	}
}

/*********************************************************/
/******************** FLUID MOBILE ***********************/
/*********************************************************/

@media only screen and (max-width: 479px) {
	#Primary{
		margin: 64px 0 0 0;
	}
	#Search{
		width: 100%;
	}
	nav#Menu{
		clear: both;
	}
	nav#Menu a{
		margin: 15px 5px 15px;
	}
}
