/*********************************************************/
/*********************** TYPOGRAPHY **********************/
/*********************************************************/

body{
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #4c4c4c;
}

/*** smaller screens have reduced font weight for better readability ***/
@media only screen and (max-width: 302px) {
	body{ font-size: 80%; }
}

@media only screen and (max-width: 403px) {
	body{ font-size: 85%; }
}

@media only screen and (max-width: 605px) {
	body{ font-size: 90%; }
}

/*** HEADINGS ***/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Roboto;
	line-height: 1.35;
	color: #2e3033;
}

h1 { font-size: 2.0em; font-weight: 300; margin-bottom: 20px; }
h2 { font-size: 1.6em; font-weight: 300; margin-bottom: 20px; }
h3 { font-size: 1.3em; font-weight: 300; margin-bottom: 15px; }
h4 { font-size: 1.2em; font-weight: 300; margin-bottom: 10px; }

/*** PARAGRAPH ***/

p {
	font-family: Roboto;
	margin-bottom: 10px;
	line-height: 1.75;
	font-size: 1.0em;
	color: #2e3033;
	font-weight: 300;
}

p.Right{ float: right; }
p.Left { float: left; }

/*** LINKS ***/

a {
	outline: 0;
	-moz-outline-style: none;
	
	color: #196ABC;
	text-decoration: none;
}

a:hover, a:active {
	color: #196ABC;
	text-decoration: underline;
}

/*** LISTS ***/

ul, ol {
	margin-bottom: 0.75em;
}

ul li, ol li{
	font-family: Roboto;
	line-height: 1.75;
	font-size: 1.0em;
	color: #2e3033;
	margin-bottom: 5px;
	font-weight: 300;
}

/*** don't modify ***/
li ul, li ol {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1.0em;
}

/*** don't modify ***/
li ul li, li ol li { font-size: 1.0em; }

/*** UNORDERED LISTS ***/

ul { list-style: disc inside; }

/*** ORDERED LIST ***/

ol { list-style: decimal inside; }

/*** OTHER ***/

sup{ font-size: 12px; font-weight: normal; vertical-align: super; line-height: 1.25; } 
sub{ font-size: 12px; font-weight: normal; vertical-align: sub; line-height: 1.25; } 

strong{ font-weight: 400; }
em{ font-style: italic; }

/*** HORIZONTAL LINE ***/

hr {
	color: #ffffff;
	background-color: #ffffff;
	border: 0;
	float: left;
	clear: both;
	width: 100%;
	height: 1px;
}

/*** IMAGE ***/

img.Img{
	margin: 0 0 10px;
	max-width: 100%;
}

img.Right{
	float: right;
	margin: 0 0 10px 10px;
}

img.Left{
	float: left;
	margin: 0 10px 10px 0;
}

/*** TABLE ***/

table{
	width: 100%;
	margin-bottom: 1.0em;
}

table th,
table td{
	padding: 5px 0 5px 0;
	color: #4c4c4c;
	text-align: left;
	vertical-align: middle;
}

table th{
	white-space: nowrap;
}

table th > *,
table td > *{
	margin: 0 !important;
}







